:root{
  --normal : #a6a877;
  --grass: #77c850;
  --fire: #ee7f30;
  --water: #678fee;
  --eletric: #f7cf2e;
  --ice: #98d5d7;
  --ground: #dfbf69;
  --flying: #a98ff0;
  --poison: #a040a0;
  --fighting: #bf3029;
  --psychic: #f65687;
  --dark: #725847;
  --rock: #b8a137;
  --bug: #a8b720;
  --ghost: #6e5896;
  --steel: #b9b9cf;
  --dragon: #6f38f6;
  --fairy: #f9aec7;
}
*{
   font-family: 'Pixelify Sans', sans-serif; 
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body{
background: #bdf3ea;
  
}
.content{
  padding: 1rem;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(181,2,8,1) 0%, rgba(185,15,21,1) 48%, rgba(25,23,23,1) 48%, rgba(8,7,7,1) 51%, rgba(252,249,249,1) 51%);
  border: 2px solid rgba(181,2,8,1);
  width: 100vw;
  height: auto;
}

@media screen and (min-width:992px) {
  .content{
    max-width:992px ;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
    height: auto;
  }
}
.content h1{
  margin-left: 15%;
  color: #fff;
  text-shadow: -1px 2px 4px #0a0a0a;
}
.pokemons{
 width: 80%;
 height: 100%;
 margin: auto;
  list-style: none;
  padding: none;
  display: grid;
  grid-template-columns: 1fr;
}
.normal{
 background: var(--normal);
} 
.grass{
background: var(--grass);
}
.fire{
background-color: var(--fire);
}
.water{
background: var(--water);
}
.eletric{
background: var(--electric);
}
.ice{
background: var(--ice);
}
.ground{
background: var(--ground);
}
.flying{
background: var(--flying);
}
.poison{
background: var(--poison);
}
.fighting{
background: var(--fighting);
}
.psychic{
background: var(--psychic);
}
.dark{
background: var(--dark);
}
.rock{
background: var(--rock);
}
.bug{
background: var(--bug);
}
.ghost{
background: var(--ghost);
}
.steel{
background: var(--steel);
}
.dragon{
background: var(--dragon);
}
.fairy{
background: var(--fairy);
}

.pokemon{
margin: .5rem;
padding: 2rem 1rem;
color: #fff;
border-radius: 1rem;
display: flex;
flex-direction: column;

}
.pokemon .detail{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.pokemon .number{
  align-self: flex-end;
  color: #27a08c;
  font-size: 0.625rem;
}
.pokemon .name{
  color: #fff;
  margin: .25rem 0;
  text-transform: capitalize;
}
.pokemon .detail .types{
  padding: 0px ;
  margin: 0;
  list-style: none;
}
.pokemon .detail .types .type{

 padding: 0.25rem .5rem;
 margin: 0.25rem 0;
 font-size: 0.625rem;
 border-radius: 1rem;
 filter: brightness(1.1);
}
.pokemon .detail img{
  max-width: 100%;
  height: 70px;
  align-self: flex-end;
}
.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
padding: 1rem;
}
.pagination button{
  background:var(--ghost);
  border-radius: 1rem;
  border: none;
  color: #fff;
  font-size: .725rem;
 padding: 0.25rem .5rem;

}

.pokemon .type .modal{
  width: 400px;
  height: 600px;
  background: green;
}
.modal{
  width: 90%;
  margin: auto;
  height: 500px;
  visibility: hidden;

}
.modal li{

  height: 100%;
  
}
.modal li .detail{
  background: #fff;
  margin-top: 100px;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1rem;
}
.modal li .detail img{
position: absolute;
top: -120px;
height: 150px;
}
.modal li .detail .types .type{
  position: absolute;
top: -60px;
left: 10px;
width: 90px;
height: auto;
text-align: center;
}
.modal li .fullDetails{
  position: absolute;
  color: red;
  top: 20px;
  width: 100%;
 

}
.modal  .fullDetails nav ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  color: #000;
  font-weight: bold;
}
.fa-left-long{
  scale: 2;
}
@media screen and (min-width:380px) {
  .pokemons{
  
    grid-template-columns:1fr 1fr;
  }
}
@media screen and (min-width:576px) {
  .pokemons{
    grid-template-columns:1fr 1fr 1fr  ;
  }
}
@media screen and (min-width:992px) {
  .pokemons{
    grid-template-columns:1fr 1fr 1fr 1fr ;
  }
}